@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

body{
    margin: 0px;
    padding: 0px;
    font-family: 'Courier New', Courier, monospace;
    overflow-x: hidden;
    }


/* HEADER SECTION STYLE */

#header{
        height: 100vh;
        background: url('https://raw.githubusercontent.com/christinebrito/My_Personal_Website/main/files/images/wallpaper.jpg');
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
    }

.userbox{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    }

.userbox img{
    border-radius: 50%;
    width: 250px;
    border: 4px double #FFECCE;
    }

.userbox p{
    position: relative;
    animation: mymove 3s infinite;
    }

@keyframes mymove {
    0%   {top: 0px;}
    50%  {top: 8px;}
    100% {top: 0px;}
    } 

.userbox h1{
    background-color: #FFECCE;
    color: #b31f27;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    font-size: 30px;
    text-align: center;
    margin: 10px;
    border-top-left-radius: 0px;
    border-bottom-right-radius:0px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    }

.userbox h1:hover{
    color: #b31f27;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    transition: 1s;
    }

.userbox p{
    background-color: #FFECCE;
    color: #b31f27;
    font-family: 'Baloo Bhaina 2', cursive;
    text-align: center;
    font-weight: bolder;
    font-size: 20px;
    }

.scroll-btn{
    margin-top: 300px;
    bottom: 30px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid #FFECCE;
    padding: 10px 10px 20px;
    border-radius: 30px;
    }

.scroll-bar span{
   border:2px solid #FFECCE;
   font-size: 10px;
   border-radius: 30px;
    }

.scroll-bar{
    animation: mover 1s infinite alternate;}
@keyframes mover {
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(10px);
    }
    }


/* TABS SECTION STYLE */   

.nav-bar{
    top: 0;
    position: sticky;
    z-index: 2;}

.navbar{
    background-color: #E7D9C1;
    box-shadow: 5px 5px 20px 2px rgba(0, 0, 0, 0.2);
    opacity: 80%;
    }

.navbar-brand img{
    height: 30px;
    padding-left: 10px;
    }

.nav-bar .bi bi-layout-sidebar-inset{
    font-size: 35px;
    color: rgb(0, 38, 255);
    }

.navbar-toggler{
    outline: none !important;
    }

.navbar-nav{
    float: left;
    text-align: left;
    margin-right: auto;
    }

.nav-link{
   color: #000000 !important;
   font-weight: 600;
   font-weight: bold;
    }

.nav-link:hover{
   color: #ed0d18 !important;
    }


/* ABOUT SECTION STYLE */

.about {
    background-color: #535665;
    }

.profile-img{
    height: 500px;
    margin-left: 100px !important;
    }

.about h1{
        font-family: Verdana;
        font-weight: bolder;
        font-size: 50px;
        color: #FFECCE;
        }

.about h3{
        font-family: Verdana;
        font-size: 30px;
        color: #FFECCE;
        } 

.about h4{
        font-family: Verdana;
        font-size: 20px;
        padding-top: 120px;
        color: #FFECCE;
        }

.about h5{
        font-family: Verdana;
        font-size: 20px;
        color: #FFECCE;
        }

.about pre{
        font-size: 15px;
        padding-top: 20px;
        color: #FFECCE;
        }


/* EDUCATION SECTION SKILLS & LANGUAGES SECTIONSTYLE */
.education{
    background-color: #e3dcd0;
    margin-top: -341px;
    padding-top: 80px;
    padding-bottom: 80px;
    }

.education h3{
    font-family: Verdana;
    font-weight: bolder;
    padding-bottom: 30px;
    color: #3D292A;
    }

.education h4{
    font-family: Verdana;
    font-weight: bolder;
    font-size: 20px;
    /* padding-right: 5px;
    padding-left: 5px; */
    padding-top: 50px;
    }

.education h5{
    font-family: Verdana;
    font-weight: bolder;
    font-size: 15px;
    /* padding-right: 5px;
    padding-left: 5px; */
    padding-top: 5px;
    }

.education p{
    font-family: Verdana;
    font-size: 13px;
    /* padding-right: 5px;
    padding-left: 5px; */
    }

.educ{
    color: #FFECCE;
    padding-top: 25px;
    margin-left: 20px;
    width: 90%;
}

.effect{
    background-color: #525564;
    padding: 10px;
    margin-top: 20px;
    border-top-right-radius: 50px;
    padding-bottom: 20px;
    box-shadow: 5px 5px 20px 2px rgba(0, 0, 0, 0.2);
}

.effect:hover{
    background-color: #3D292A;     
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    transition: 1s;}


/* EXPERIENCE SECTION SKILLS & LANGUAGES SECTIONSTYLE */
.experience{
    background-color: #525564;
    padding-top: 80px;
    padding-bottom: 80px;
    }

.experience h3{
    color: #FFECCE;
    font-family: Verdana;
    font-weight: bolder;
    padding-bottom: 30px;
}

.expi{
    background-color: #E7D9C1;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    color: #3D292A;
    padding-top: 25px;
    margin-left: 20px;
    width: 90%;
    box-shadow: 5px 5px 20px 2px rgba(0, 0, 0, 0.2);
}

.expi:hover{   
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    transition: 1s;
}

.expi p{
    font-family: Verdana;
    font-size: 13px;
    padding-right: 40px;
    }

.expi .p ul{
    padding-left: -50px;
    }

.expi h4{
    font-family: Verdana;
    font-weight: bolder;
    font-size: 18px;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 5px;
    }

.expi h5{
    font-family: Verdana;
    font-weight: bolder;
    font-size: 15px;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 5px;
    }

.expi h6{
    font-family: Verdana;
    font-size: 13px;
    padding-right: 5px;
    padding-left: 5px;
    }


/* CERTIFICATION SECTION STYLE */
.cert-img{
    width: 210px;
    float: left;
    }

.certificate{
    background-color: #E7D9C1;
    color: #3D292A;
}

.certificate h3{
    font-family: Verdana;
    font-weight: bolder;
    padding-top: 80px;
    padding-bottom: 30px;
    }

.certificate h4{
    font-family: Verdana;
    font-weight: bolder;
    }

.timeline{
    list-style-type: none;
    position: relative;
    }

.timeline:before{
    content: '';
    background-color: #B31F27;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 1;
    }

.timeline li{
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    background-color: #E7D9C1;
    }

.timeline li h4{
    background-color: #E7D9C1;
    padding: 5px 0px 5 px 20px;
    /* column-rule-color: rgb(0, 73, 10); */
    font-size: 15px;
    }

.timeline li h4 span{
    font-weight: bold;
    color: #3D292A;
    }

.timeline li:before{
    content: '';
    background-color: #525564;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    /* border: 3px rgb(139, 131, 19); */
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 1;
    }
    

/* SKILLS & LANGUAGES SECTION STYLE */
.skills{
    background-color: #525564;
    } 

.skills h3{
    padding-top: 80px;
    padding-bottom: 30px;
    font-family: Verdana;
    font-weight: bolder;
    color: #FFECCE;
    }
    
.skills-bar p{
    margin-bottom: 6px;
    font-weight: 500;
    color: #FFECCE;
    }
     
.progress{
    border-radius: 16px !important;
    margin-bottom: 10px;
    background-color: #E7D9C1 !important;
    border-style: double;
    border-color: #3D292A;
    width: 95%;
    }
     
.progress-bar{
    border-radius: 16px;
    background-color: #3D292A !important;
    }


/* CONTACT SECTION STYLE */
.contact{
    padding-top: 50px;
    padding-bottom: 50px;
    background: url(https://raw.githubusercontent.com/christinebrito/My_Personal_Website/main/files/images/wp6927395.png);    
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color: #B31F27;
    font-weight: 700;
    font-family: 'Ubuntu', sans-serif;
    }

.contact .row{
    padding: 30x 0;
    font-size: 15px;
    color: #3D292A;;
    background-color: #E7D9C1;
    border-radius: 50%;    
    font-family: 'Ubuntu', sans-serif !important;
    }

.contact .row:hover{
    border-radius: 0px;
    }

.contact .col-md-4{
    padding: 10px;
    font-size: 20px;
    }

.contact .btn{
    padding: 10px 25px 10px 25px;
    margin: 5px;
    border-radius: 30px;
    border: 2px solid #B31F27;
    background: transparent;
    color: #B31F27;
    font-weight: 700;
    font-family: 'Ubuntu', sans-serif;
    }

.contact .btn:focus{
    box-shadow: none !important;}

.contact .btn:hover{
    border: 2px solid green !important;
    background-color: honeydew;
    color: goldenrod;
    transition: 0.6s;
    }

.contact .btn .fa{
    margin-right: 10px;
    }


/* FOOTER SECTION STYLE */
.footer{
    background-color: #525564;
    height: 150px;
    padding-top: 10px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    }

.footer p{
    color: #FFECCE;
    font-size: 13px;
}

.footer i{
    color: #FFECCE;
}

.footer h6{
    color: #FFECCE;
    font-size: 13px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    padding-bottom: 10px;
}


/* SOCIAL ICONS SECTION STYLE */ 
.social-icons{
    top: 50%;
    transform: translateY(-50%);
    position: sticky;
    z-index: 1;
    width: 80px;
    }

.social-icons ul{
    padding: initial;
    }

.social-icons ul li{
    height: 40px;
    width: 40px;
    list-style-type: none;
    padding-left: 12px;
    padding-top: 6px;
    margin-top: 5px;
    background-color: #3D292A;
    color: #FFFF;
    }

.social-icons ul li:hover{
    padding-left: 30px;
    width: 80px;
    transition: 1s;
    }
    
